@import "../../variables.scss";
.timing_section {
  .messages {
    margin-top: 2rem;
    .success_message {
      color: $themecolorGreen;
      opacity: 0;
      transition: 0.5s all ease-in;
      &.show {
        opacity: 1;
      }
      &.fail {
        color: $themecolorNewRed;
      }
    }
    .time_message {
      color: #fff;
      margin-top: 0.5rem;
      opacity: 0;
      transition: 0.5s all ease-in;
      &.show {
        opacity: 1;
      }
    }
  }
}
