@import "../../variables.scss";

//db info section
.db_info_section {
  background: $themecolorLilaDark;
  padding: 0.8rem 1.8rem;
  border-radius: $themeBorderRadius;
  margin-bottom: 2rem;
  a {
    word-wrap: break-word;
  }
  p {
    margin: 0;
  }
  h6 {
    font-weight: 600;
  }
}
//video_section
.video_section {
  margin-top: 3rem;
  @media all and (min-width: $md-min) {
    margin-top: 0;
  }
  li {
    margin-bottom: 0.2rem;
  }
  a {
    display: flex;
    align-items: center;
    .youtube_logo {
      max-width: 2.2rem;
      max-height: 2rem;
    }
    span {
      line-height: 1.2;
    }
  }
}
//introductions
.comp_intro {
  margin-bottom: 2rem;
  p {
    white-space: pre-line;
  }
  a {
    color: $linkColor;
  }
  ul._list {
    list-style-type: square;
    padding: 0 0 0 1rem;
    li {
      font-size: 0.9rem;
      color: #fff;
    }
  }
}
//test info box
.comp_test_info {
  background: $themecolorBlueNewLightest;
  h4,
  p {
    color: $themecolorLilaDark;
  }
}
.comp_what_to_test {
  h4 {
    color: #fff;
  }
  ul {
    margin-bottom: 1rem;
    padding-left: 1rem;
    li {
      list-style-type: disc;
      color: $navLinkColor;
    }
  }

  .linkBtn {
    background: $themecolorNewPink;
    a {
      color: #fff;
    }
  }
}
.comp_test_info,
.comp_what_to_test {
  margin-bottom: 2rem;
  min-height: 150px;
  // background: $themecolorBlueNewLightest;
  padding: 1.3rem 1.8rem;
  border-radius: $themeBorderRadius;
  box-shadow: $themeBoxShadow;
  margin-top: 6rem;
  @media all and (min-width: $md-min) {
    margin-top: 1rem;
  }
  // h4 {
  //   color: $themecolorLilaDark;
  // }
  p {
    white-space: pre-line;
    //color: $themecolorDarker;
  }
}
