@import "../../../variables.scss";

.toggle_btn {
  background: transparent;
  font-size: 1.2em;
  // z-index: 1; //obs!!  //same parent as nav
  cursor: pointer;
  border: none;
  span {
    display: block;
    width: 30px;
    height: 2px;
    background: #fff;
    margin-bottom: 5px;
    transition: all ease-in 0.3s; //obs!!
  }
  &.open {
    //obs!!
    span:nth-child(1) {
      transform: rotate(45deg) translateY(10px);
    }
    span:nth-child(2) {
      opacity: 0;
      width: 0;
    }
    span:nth-child(3) {
      transform: rotate(-45deg) translateY(-10px);
    }
  }
  // z-index: 1; //obs!!  //same parent as nav

  // height: 30px;
  // width: 28px;
  // background: transparent;
  // border: none;
  // cursor: pointer;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-around;
  // padding: 0;
  // box-sizing: border-box; //so the lines stay inside btn

  // &:focus {
  //   outline: none; //when clicking-no outline
  // }

  // .toggle-btn-line {
  //   width: 30px;
  //   height: 2px;
  //   background: #fff;
  // }

  // @media all and (min-width: $lg-min) {
  //   // display: none;
  // }
}
