@import "../../variables.scss";

.strings_section {
  .output_section {
    opacity: 0;
    transition: 0.5s all ease-in;
    &.show {
      opacity: 1;
    }
    .strings {
      color: #fff;
      padding: 1rem 0;
      p {
        margin: 0;
      }
    }
  }

  .success_message {
    text-align: center;
    padding-top: 1.2rem;
    color: $themecolorGreen;
    i {
      margin-left: 5px;
    }
    &.fail {
      color: $themecolorNewRed;
    }
  }
}
