@import "../../variables.scss";

.game_section {
  .points_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h6 {
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 0;
      font-size: 0.9rem;
      strong {
        font-size: 1.2rem;
        color: $themecolorNewPink;
        text-transform: lowercase;
      }
    }
  }
  .square {
    background: $themecolorBlueNewDark;
    box-shadow: $themeBoxShadow;
    border-radius: $themeBorderRadius;
    margin: 1.5rem 0;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    .message {
      max-width: 50%;
      text-align: center;
      color: $themecolorBlueNewLightest;
      h5 {
        line-height: 1.5;
        margin-bottom: 0;
      }
    }
  }
  .game-square {
    background: $themecolorLightgrey;
    width: 550px;
    height: 400px;
    position: relative;
    margin-bottom: 3rem;
    border-radius: 3px;

    .kitten {
      cursor: pointer;
      position: absolute;
      padding: 10px;
      margin-bottom: 0;
    }
    .textmessage {
      width: 50%;
      margin: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
      span {
        font-size: 2.2em;
        font-weight: 400;
        color: $themecolorPink;
      }
    }
    @media all and (min-width: $md-min) {
      margin-bottom: 8rem;
    }
    @media all and (min-width: $lg-min) {
      margin-bottom: 2rem;
    }
    @media all and (min-width: $xl-min) {
      margin-bottom: 8rem;
    }
    @media all and (max-width: $sm-max) {
      display: none;
    }
  }

  .game-sidebar {
    display: flex;
    flex-direction: row;
    align-items: center;
    .start-btn {
      margin: 2rem 0;
      margin-right: 2rem;
      @media all and (min-width: $md-min) {
        margin-right: 0;
      }
      @media all and (min-width: $lg-min) {
        margin-right: 2rem;
      }
      @media all and (min-width: $xl-min) {
        margin-right: 0;
      }
    }
    .counter,
    .points {
      color: #fff;
      margin-right: 2rem;
      span {
        font-size: 2em;
        padding-left: 0.5rem;
        color: $themecolorPink;
      }
      @media all and (min-width: $md-min) {
        margin-right: 0;
      }
      @media all and (min-width: $lg-min) {
        margin-right: 2rem;
      }
      @media all and (min-width: $xl-min) {
        margin-right: 0;
      }
    }
    .counter span {
      color: #fff;
    }
    @media all and (min-width: $md-min) {
      flex-direction: column;
    }
    @media all and (min-width: $lg-min) {
      flex-direction: row;
      margin-bottom: 5rem;
    }
    @media all and (min-width: $xl-min) {
      flex-direction: column;
      margin-bottom: 0;
    }
    @media all and (max-width: $sm-max) {
      display: none;
    }
  }
}
