@import "../../variables.scss";

.game_section {
  .points_section {
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h6 {
      text-transform: uppercase;
      margin-bottom: 0;
      font-size: 0.9rem;
      strong {
        font-size: 1.2rem;
        color: $themecolorNewPink;
        text-transform: lowercase;
      }
    }
  }
  .square {
    position: relative;
    background: $themecolorLilaDark;
    box-shadow: $themeBoxShadow;
    border-radius: $themeBorderRadius;
    margin: 1.5rem 0;
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    .message {
      position: relative;
      z-index: 1000;
      max-width: 50%;
      text-align: center;
      h5 {
        line-height: 1.5;
        margin-bottom: 0;
      }
    }
    .kitten,
    .hedgehog {
      cursor: pointer;
      position: absolute;
      padding: 8px;
      margin-bottom: 0;
      img {
        max-width: 30px;
      }
    }
  }

  //canvas
  .top_section {
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;

    .result_wrapper {
      margin-top: 0;
      .success_message {
        &.fail {
          color: $themecolorButtonBlue;
        }
      }
    }
  }

  .box {
    display: none;
  }
  .canvas {
    background: $themecolorLilaDark;
    box-shadow: $themeBoxShadow;
    border-radius: $themeBorderRadius;
  }
  display: none;
  @media all and (min-width: $sm-min) {
    display: block;
  }
}
.mobile_game_section {
  display: block;
  @media all and (min-width: $sm-min) {
    display: none;
  }
}
