@import "../../../variables.scss";
ul.links {
  display: block;
  margin-top: 0;
  li {
    display: block;
    font-size: 0.85rem;
    margin: 10px 0;
    color: #fff;
    @media all and (min-width: 1600px) {
      margin: 15px 0;
    }

    a.link {
      color: $navLinkColor;
      &:hover {
        color: $linkColor;
      }
      &:active,
      visited {
        color: $linkColor;
      }
      &.current {
        color: $linkColor;
        border-bottom: 1px solid $linkColor;
      }
    }
    ul.sub_list {
      li {
        font-size: 0.85rem;
        margin: 1px 14px;
      }
    }
  }
}
