@import "../../variables.scss";

.scramble_section {
  input {
    width: 100%;
    margin-bottom: 1rem;
    &.green_dark {
      background: $themecolorGreenDark;
    }
  }
  .scramble_text {
    color: #fff;
    padding: 2rem 0;
    p {
      margin-bottom: 0;
      .category {
        color: $themecolorButtonBlue;
      }
    }
  }
  .animal_btns {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $themecolorBlueNewDark;
    box-shadow: $themeBoxShadow;
    input {
      width: auto;
    }
  }
  .scramble_btns {
    display: flex;
    justify-content: space-between;
  }

  #small {
    padding: 0.2rem 0.9rem;
  }
  #big {
    padding: 0.6rem 1.3rem;
  }
  //multi scramble
  form {
    margin-bottom: 2rem;
  }
  .multiscramble_btn_section {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    input[type="text"] {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
