@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Raleway", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  font-family: "Quicksand";
  background: $themecolorLila;
}
#root {
  height: 100%;
  //position: relative !important;
}
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
img {
  max-width: 100%;
  border-radius: $themeBorderRadius;
}
//reset
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

//typgrafi
h1 {
  font-size: 1.8em;
  @media all and (min-width: $md-min) {
    font-size: 2em;
  }
  @media all and (min-width: $lg-min) {
    font-size: 2.5em;
  }
}
p {
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
p,
div {
  color: #fff;
}
a {
  color: $linkColor;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: $linkColor;
    filter: brightness(80%);
  }
  &:active {
    //when click
    color: $linkColor;
  }
}

//header
.site-header-section {
  display: none;
  padding: 1.8rem calc(3.75rem - 15px);

  .boozang_logo_text {
    display: flex;
    justify-content: flex-end;
    span {
      padding-right: 1rem;
      color: $navLinkColor;
    }
  }
  @media all and (min-width: $lg-min) {
    display: block;
    width: 75%;
    margin-left: 25%;
  }
  @media all and (min-width: $xl-min) {
    width: 80%;
    margin-left: 20%;
  }
  img {
    max-width: 130px;
  }
}

//main navigation
.nav {
  width: 100%;
  display: flex;
  padding: 1.8rem calc(1.5rem - 15px);
  @media all and (min-width: $sm-min) {
    padding: 1.8rem calc(2.25rem - 15px);
  }
  @media all and (min-width: $md-min) {
    padding: 1.8rem calc(3rem - 15px);
  }
  .col {
    display: flex;
    align-items: center;
  }
  ul.links {
    display: none;
  }
  h2 {
    margin-bottom: 0;
    margin-left: 1rem;
    font-size: 2.2rem;
    line-height: 1;
    a {
      color: $themecolorNewPink;
    }
  }
  @media all and (min-width: $lg-min) {
    padding: 2rem calc(1.75rem - 15px) 1rem calc(3.75rem - 15px);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 25%;
    position: fixed;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: $themecolorLilaDarkest;
    .col {
      display: block;
    }
    h2 {
      margin-left: 0;
      font-size: 2.2rem;
      padding-bottom: 0.2rem;
      a {
        color: $themecolorNewPink;
      }
    }
    ul.links {
      display: block;
    }
    //linkstyle in navbarLinks component
  }
  @media all and (min-width: $xl-min) {
    width: 20%;
    padding: 2rem calc(1.75rem - 15px) 2rem calc(3.75rem - 15px);
  }
}

//content
.content-section {
  width: 100%;
  min-height: 600px;
  padding: 0 calc(1.5rem - 15px) 10rem calc(1.5rem - 15px);
  @media all and (min-width: $sm-min) {
    padding: 0 calc(2.25rem - 15px) 10rem calc(2.25rem - 15px);
  }
  @media all and (min-width: $md-min) {
    padding: 0 calc(3rem - 15px) 10rem calc(3rem - 15px);
  }
  @media all and (min-width: $lg-min) {
    width: 75%;
    margin-left: 25%;
  }
  @media all and (min-width: $xl-min) {
    width: 80%;
    margin-left: 20%;
    padding: 0 calc(3.75rem - 15px) 10rem calc(3.75rem - 15px);
  }

  .video_section {
    margin-top: 3rem;
    @media all and (min-width: $md-min) {
      margin-top: 0;
    }
  }
  //introductions
  .comp_intro {
    margin-bottom: 2rem;
    p {
      white-space: pre-line;
    }
    a {
      color: $linkColor;
    }
    ul._list {
      list-style-type: square;
      padding: 0 0 0 1rem;
      li {
        font-size: 0.9rem;
      }
    }
  }
  //test info box
  .comp_test_info {
    margin-bottom: 2rem;
    min-height: 150px;
    background: $themecolorBlueNewLightest;
    padding: 1.5rem 2rem;
    border-radius: $themeBorderRadius;
    box-shadow: $themeBoxShadow;
    margin-top: 3rem;
    h4 {
      color: $themecolorLilaDark;
    }
    p {
      white-space: pre-line;
      color: $themecolorDarker;
    }
  }

  .error {
    color: $themecolorNewPinkLight;
  }
  //video links
  .video_section {
    li {
      margin-bottom: 0.2rem;
    }
    a {
      display: flex;
      align-items: center;
      .youtube_logo {
        max-width: 2.2rem;
        max-height: 2rem;
      }
      span {
        line-height: 1.2;
      }
    }
  }
}

//card
.card {
  border-radius: $themeBorderRadius;
}

//footer
.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $themecolorLilaDark;
  width: 100%;
  min-height: 10rem;
  padding: 2rem calc(1.5rem - 15px) 1rem calc(1.5rem - 15px);
  @media all and (min-width: $sm-min) {
    padding: 2rem calc(2.25rem - 15px) 1rem calc(2.25rem - 15px);
  }
  @media all and (min-width: $md-min) {
    padding: 2rem calc(3rem - 15px) 1rem calc(3rem - 15px);
  }
  @media all and (min-width: $lg-min) {
    width: 75%;
    margin-left: 25%;
  }
  @media all and (min-width: $xl-min) {
    width: 80%;
    margin-left: 20%;
    padding: 2rem calc(3.75rem - 15px) 1rem calc(3.75rem - 15px);
  }
  .udemy_link {
    img {
      max-width: 25px;
      margin-right: 3px;
      @media all and (min-width: $md-min) {
        max-width: 30px;
      }
    }
    a {
      color: #fff;
      font-weight: 500;
      font-size: 1rem;
      display: inline-block;
      position: relative;
      @media all and (min-width: $md-min) {
        font-size: 1.1rem;
      }
      &::before {
        opacity: 0.4;
        position: absolute;
        bottom: -3px;
        left: 1px;
        content: "";
        width: 100%;
        height: 2px;
        background: #020c70;
        background: #fff;
        -webkit-transition: width 0.2s ease-in;
        transition: width 0.2s ease-in;
      }
      &::after {
        content: "\f061";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        margin-left: 10px;
      }
    }
  }
  .copy {
    font-size: 0.8rem;
  }
  ul.social_icons_list {
    display: flex;
    padding: 2rem 0;
    @media all and (min-width: $md-min) {
      justify-content: flex-end;
      padding: 0;
    }
    li.social {
      a {
        font-size: 0;
        display: inline-block;
        margin-right: 2rem;
        &:after {
          font-weight: 900;
          font-size: 1.2rem;
          color: #fff;
          text-align: center;
          border-radius: 50%;
          transition: 1s;
        }
        &.mail {
          &:after {
            font-family: "Font Awesome 5 Free";
            content: "\f0e0";
          }
        }
        &.fb {
          &:after {
            font-family: "Font Awesome 5 Brands";
            content: "\f082";
          }
        }
        &.linkedin {
          &:after {
            font-family: "Font Awesome 5 Brands";
            content: "\f08c";
          }
        }
        &.twitter {
          &:after {
            font-family: "Font Awesome 5 Brands";
            content: "\f081";
          }
        }
      }
    }
  }
}
//buttons
.btn_section {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}
.delIconBtn {
  color: $themecolorNewRed !important;
  transition: 0.5s all ease;
  cursor: pointer;
  padding: 2px;
  &:hover {
    filter: brightness(80%);
  }
}
input[type="button"],
input[type="submit"],
button.formBtn {
  padding: 0.2rem 0.9rem;
  transition: 0.5s all ease;
  border: none;
  border-radius: $themeBorderRadius;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.8;
  margin-right: 0.5rem;
  width: auto;
  box-shadow: $themeBoxShadowLight;
  color: #fff;
  &:hover {
    filter: brightness(80%);
  }
  &:focus {
    outline: none;
  }
  &.add {
    background: $themecolorGreen;
  }
  &.adding {
    opacity: 0.5;
  }
  &.cancel {
    background: #ddd;
    color: $themecolor;
  }
  &.delete {
    background: $themecolorNewRed;
  }
  &.blue {
    background: $themecolorButtonBlue;
  }
  &.yellow {
    background: $themecolorYellow;
  }
  &.pink {
    background: $themecolorNewPink;
  }
  &.turqoise {
    background: $themecolorTurquoise;
  }
  &.purple {
    background: $themecolorPurple;
  }
  &.orange {
    background: $themecolorOrange;
  }
}

// icons
.fas.fa-paw {
  color: $themecolorNewRed;
  margin-right: 0.5rem;
}
