//screen width
$xs-max: 480px;
$sm-min: 576px;

$sm-max: 767.9px;
$md-min: 768px;

$md-max: 991.9px;
$lg-min: 992px;

$lg-max: 1199.9px;
$xl-min: 1200px;

$xl-max: 1309px;

//colors
$themecolorBlue: #fff; // #020c70; // #4ab7f5; // #012aff;  //  #2e9ce6;
$themecolorDarkBlue: #1576b7;
$themecolorDarkGrey: #21242c;
$themecolorYellow: #e6782e;
$themecolorGreen: #18cd61; //#57b33e;
$themecolorPink: #e7329e;
$themecolorYellow: #cdbb18;
$themecolorRed: #e62e40; // rgba(255, 0, 0, 0.623);
$themecolorLightgrey: #f9f9f9;
$themecolorTurquoise: #15b7a6;
$themecolorPurple: #6a2e99;

//new
$themecolorNewPinkLight: #f688a9;
$themecolorNewPink: #f24d7f;
$themecolorNewRed: #f1356d;
$themecolorBlueNewLightest: #cce6ff;
$themecolorBlueNewLight: #4ab7f5;

//blue mer dämpad, ljus footer
$themecolorBlueNew: #0066cc;
$themecolorBlueNewDark: #198cff; //light
$themecolorBlueNewDarkest: #00264d;

//vanliga
$themecolorBlueNew: #0066cc;
$themecolorBlueNewDark: #0024b3;
$themecolorBlueNewDarkest: #020c70;

//lila
$themecolorBlueNew: #2a2966;
$themecolorBlueNewDark: #2c407d;
$themecolorBlueNewDarkest: #161637;

$themecolor: #222;
$themecolorDarker: #111;
$navLinkColor: #c4c8d4;
$linkColor: #75bff0;
$themeBorderColor: #e0e0e0;

$themeBorderRadius: 3px;
$themeBoxShadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2),
  0 4px 20px 0 rgba(0, 0, 0, 0.19);
