@import "../../variables.scss";
.conditional_section {
  .wrapper {
    min-height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    input {
      // max-width: 200px;
      margin-bottom: 1rem;
      color: #fff;
    }
    .blue {
      background: #198cff;
    }
    .yellow {
      background: $themecolorYellow;
    }
    .pink {
      background: $themecolorNewPink;
    }
    .turqoise {
      background: $themecolorTurquoise;
    }
    h5.color {
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.1rem;
      margin-bottom: 1rem;
    }
    .image {
      margin-right: 0.5rem;
      margin-bottom: 1rem;
    }
  }

  .lower_section {
    display: flex;
    justify-content: space-between;
    .result_wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 0.5rem;
      margin-bottom: 1rem;
      .success_message {
        margin-bottom: 0;
        color: $themecolorGreen;
        i {
          margin-left: 5px;
        }
        &.fail {
          color: $themecolorNewRed;
        }
      }
    }
  }
}
