@import "../../variables.scss";

//form validation
.form_section {
  .print_form {
    strong {
      font-size: 90%;
    }
    margin-top: 2rem;
    opacity: 0;
    transition: 1s all ease-in;
    &.show {
      opacity: 1;
    }
  }
}

//login
// .login-section {
//   color: #fff;
//   .login-options {
//     padding-bottom: 2rem;
//     > div {
//       display: flex;
//       justify-content: space-between;
//     }
//     p {
//       width: 33%;
//       color: #fff;

//       &:first-of-type {
//         color: $themecolorGreen;
//         font-weight: 600;
//       }
//     }
//     h5 {
//       font-weight: 600;
//       color: #fff;
//       width: 33%;
//     }
//     p,
//     h5 {
//       &:first-of-type {
//         width: 8%;
//       }
//     }
//   }
//   .loginBar {
//     padding: 2rem 0;
//     display: flex;
//     align-items: flex-start;
//     justify-content: space-between;
//     color: #fff;

//     h5 {
//       font-weight: 600;
//     }

//     .user {
//       display: flex;
//       align-items: center;
//       justify-content: space-between;
//     }

//     img {
//       display: block;
//       margin-right: 2rem;
//       max-width: 60px;
//       border-radius: 50%;
//     }
//   }
//   .permissions {
//     padding: 1rem 0;

//     .btns {
//       display: flex;
//       margin-right: 2rem;
//     }
//   }
//   .form {
//     display: none;
//   }
//   .form.show {
//     display: block;
//   }
//   .loggedin {
//     display: none;
//   }
//   .loggedin.show {
//     display: block;
//   }
//   .random-login {
//     margin-left: 2rem;
//   }
// }
